<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sorry, we're down for essential maintenance</title>
    <style>
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        body {
            background: #443f40;
            overflow: hidden;
        }

        .terminal-window {
            text-align: left;
            width: 37.5rem;
            height: 22.5rem;
            border-radius: .625rem;
            margin: auto;
            position: relative;
            top: 10.5rem;
        }

        .terminal-window header {
            background: #E0E8F0;
            height: 1.875rem;
            border-radius: .5rem .5rem 0 0;
            padding-left: .625rem;
        }

        .terminal-window header .button {
            width: .75rem;
            height: .75rem;
            margin: .625rem .25rem 0 0;
            display: inline-block;
            border-radius: .5rem;
        }

        .terminal-window header .button.green {
            background: #3BB662;
        }

        .terminal-window header .button.yellow {
            background: #E5C30F;
        }

        .terminal-window header .button.red {
            background: #E75448;
        }

        .terminal-window section.terminal {
            color: white;
            font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
            font-size: 11pt;
            background: #30353A;
            padding: .625rem;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: 1.875rem;
            bottom: 0;
            overflow: auto;
        }

        .terminal-window section.terminal .typed-cursor {
            opacity: 1;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

        .terminal-data { display: none; }

        /*Media for mobile responsive viewing*/
        @media only screen and (max-width: 600px) {
        .terminal-window {
            text-align: left;
            width: 37.5vmin;
            height: 22.5vmin;
            border-radius: .625vmin;
            margin: auto;
            position: relative;
            top: 30.5vmin;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window header {
            background: #E0E8F0;
            height: 1.875vmin;
            border-radius: .5vmin .5vmin 0 0;
            padding-left: 1vmin;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window header .button {
            width: .75vmin;
            height: .75vmin;
            margin: .625vmin .25vmin 0 0;
            display: inline-block;
            border-radius: .5vmin;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window header .button.green {
            background: #3BB662;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window header .button.yellow {
            background: #E5C30F;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window header .button.red {
            background: #E75448;
        }
        }
        @media only screen and (max-width: 600px) {
        .terminal-window section.terminal {
            color: white;
            font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
            font-size: .6875vmin;
            background: #30353A;
            padding: .625vmin;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: 1.875vmin;
            bottom: 0;
            overflow: auto;
        }
        }
        .terminal-window section.terminal .typed-cursor {
            opacity: 1;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

        .terminal-data { display: none; }
        .terminal-window .gray { color: gray; }
        .terminal-window .green { color: green;}
        .terminal-window .red { color: red}
        .terminal-window .warning { color: yellow}
        .terminal-window .info { color: #17a2b8}
    </style>
</head>
<body>
    <div id="particles-js"></div>
    <div class="terminal-window">
        <header>
            <div class="button green"></div>
            <div class="button yellow"></div>
            <div class="button red"></div>
        </header>
        <section class="terminal">
            <div class="history"></div>$
            <span class="prompt"></span>
            <span class="typed-cursor"></span>
        </section>
    </div>
    <!-- data -->
    <div class="terminal-data mimik-run-output">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", {
            "particles": {
                number: {value: 200, density: { enable: true, value_area: 1200 }},
                color: {value: "#ffffff"},
                shape: {
                    type: "circle",
                    stroke: {width: 0, color: "#000000" },
                    polygon: {nb_sides: 5},
                    image: {src: "img/github.svg", width: 100, height: 100}
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: {enable: true, speed: 1, opacity_min: 0, sync: false}
                },
                size: {
                    value: 2,
                    random: true,
                    anim: {enable: true, speed: 20, size_min: 0, sync: false}
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 5,
                    direction: "none",
                    random: true,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: {enable: false, rotateX: 600, rotateY: 1200}
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: {enable: true, mode: "bubble"},
                    onclick: {enable: true, mode: "push"},
                    resize: true
                },
                modes: {
                    grab: {distance: 400, line_linked: {opacity: 1}
                    },
                    bubble: {
                      distance: 86, size: 1, duration: 3, opacity: 1, speed: 3
                    },
                    repulse: {distance: 200,duration: 0.4},
                    push: {particles_nb: 5},
                    remove: {particles_nb: 20}
                }
            },
            retina_detect: true
        });
        $(function() {
            var data = [
                {
                    action: 'type',
                    strings: ["Access page"],
                    output: '<span class="red">Access denied!!!</span><br>&nbsp;',
                    postDelay: 500
                },
                {
                    action: 'type',
                    strings: ["503 Service Unavailable"],
                    output: '<span class="info">Sorry, we\'re down for essential maintenance.</span><br>&nbsp;',
                    postDelay: 500
                },
                {
                    action: 'type',
                    strings: ["These are not the error codes you're looking for.", 'I am working on that service to make it better, faster, stronger...'],
                    postDelay: 2000,
                    output: ['<span class="warning">This service will be back soon!</span>', '<span class="gray">Maintenance by The Manh.</span><br>&nbsp;'].join('<br>'),
                }
            ];
            runScripts(data, 0);
        });
        function runScripts(data, pos) {
            var prompt = $('.prompt'),
                script = data[pos];
            if(script.clear === true) {
              $('.history').html(''); 
            }
            switch(script.action) {
                case 'type':
                    prompt.removeData();
                    $('.typed-cursor').text('');
                    prompt.typed({
                        strings: script.strings,
                        typeSpeed: 10,
                        callback: function() {
                            var history = $('.history').html();
                            history = history ? [history] : [];
                            history.push('$ ' + prompt.text());
                            if(script.output) {
                                history.push(script.output);
                                prompt.html('');
                                $('.history').html(history.join('<br>'));
                            }
                            $('section.terminal').scrollTop($('section.terminal').height());
                            pos++;
                            if(pos < data.length) {
                                setTimeout(function() {
                                    runScripts(data, pos);
                                }, script.postDelay || 1000);
                            }
                        }
                    });
                    break;
                case 'view':
                    break;
            }
        }
    </script>
</body>
</html>